{% extends "layout.html" %}
{% block content %}

<style>
    body {
        background-size: cover;
        background-color: #ffffff; /* Couleur de fond */
        color: #ffffff; /* Couleur du texte */
    }

    .container {
        margin-top: 50px;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .generated-image {
        max-height: 500px;
        max-width: 500px;
        object-fit: cover; /* Ajustement de la propriété object-fit */
  
    }

    .btn-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .btn-primary,
    .btn-secondary {
        padding: 10px 20px;
        font-size: 1em;
        border-radius: 5px; /* Coins arrondis */
        transition: background-color 0.3s;
    }

    #congratulations-message {
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        color: #020202; 
    }
</style>
<script>
    document.addEventListener("keydown", function(event) {
        if (event.ctrlKey && event.key === "Enter") {
            event.preventDefault();
            window.location.href = "{{ url_for('public.replay_guessai_hard') }}";
        }
    });
</script>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            {% if congratulations_message %}
                {% if congratulations_message.startswith("Gagné") %}
                    <div id="congratulations-message" class="alert alert-success" role="alert">
                {% else %}
                    <div id="congratulations-message" class="alert alert-danger" role="alert">
                {% endif %}
                    {{ congratulations_message }}
                </div>
            {% endif %}

            <div class="image-container">
                <img src="{{ url_for('static', filename=image_path) }}" class="img-fluid generated-image"
                    alt="Generated Image">
            </div>

            <div class="btn-container">
                <form id="generateForm_IA" action="{{ url_for('public.guessai_hard') }}" method="post">
                    {{ form.hidden_tag() }}
                    <button type="submit" name="is_ia" value="true" class="btn btn-primary">IA</button>
                    <button type="submit" name="is_ia" value="false" class="btn btn-primary">Non IA</button>
                </form>
                <a href="{{ url_for('public.replay_guessai_hard') }}" class="btn btn-secondary">Rejouer</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
