{% extends "layout.html" %}
{% block content %}

<style>
    .image-container {
        display: flex;
        flex-wrap: nowrap;
    }

    .generated-image {
        width: 128px;
        height: 128px;
        margin: 0px;
    }

    .score-table {
        margin-top: 20px;
    }
    
    body {
        background: url('/static/images_home/fond_jeu5.jpg');
        background-size: cover; 
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            {% if congratulations_message %}
                <div id="congratulations-message" class="alert alert-success" role="alert">
                    {{ congratulations_message }}
                </div>
            {% endif %}

            <div class="image-container">
                <img src="{{ url_for('static', filename=image_path) }}" class="img-fluid generated-image"
                    alt="Generated Image">
            </div>

            <form id="generateForm_cifar" action="{{ url_for('public.guessai') }}" method="post">
                {{ form.hidden_tag() }}
                <button type="submit" name="is_ia" value="true" class="btn btn-primary">IA</button>
                <button type="submit" name="is_ia" value="false" class="btn btn-primary">Non IA</button>
                <a href="{{ url_for('public.replay_guessai') }}" class="btn btn-secondary mt-3">Rejouer</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
