<!-- image_page.html -->
{% extends "layout.html" %}
{% block content %}

<style>
    .jumbotron {
        text-align: center;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    .button-container a {
        margin-right: 20px; /* Ajuste l'espace entre les boutons selon tes besoins */
    }

    .button-image {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }

    .button-image img {
        width: 300px;
        height: 200px;
        margin-left: 20px;
        margin-right: 40px; 
    }
</style>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-3">Bienvenue sur LearnAI</h1>
        <p class="lead">Choisissez le jeu auquel vous souhaitez jouer :</p>

        <div class="button-container">
            <a href="{{ url_for('public.generate_image') }}" class="btn btn-primary btn-lg">Jouer à AnimalGuessingGame Easy</a>
            <a href="{{ url_for('public.generate_image_hard') }}" class="btn btn-secondary btn-lg">Jouer à AnimalGuessingGame Hard</a>
            <a href="{{ url_for('public.generate_number') }}" class="btn btn-success btn-lg">Jouer à NumberGuessingGame</a>
            <a href="{{ url_for('public.guessai') }}" class="btn btn-info btn-lg">IA ou pas IA ?</a>
        </div>

        <div class="button-image">
            <img src="{{ url_for('static', filename='images_home/animg.jpg') }}" alt="Animal Image">
            <img src="{{ url_for('static', filename='images_home/animg1.png') }}" alt="Hard Animal Image">
            <img src="{{ url_for('static', filename='images_home/animg3.png') }}" alt="Number Image">
            <img src="{{ url_for('static', filename='images_home/guessia.jpg') }}" alt="Guess AI">
        </div>
    </div>
</div>

{% endblock %}
