{% extends "layout.html" %}
{% block content %}
<style>
    body {
        background: url('/static/images_home/fond5.jpg');
        background-size: cover; 
    }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div id="result-container">
                {% if congratulations_message %}
                    <div id="congratulations-message" class="alert alert-success" role="alert">
                        {{ congratulations_message }}
                    </div>
                {% endif %}
                <img id="random-image" src="{{ url_for('static', filename=image_path) }}" class="img-fluid" alt="Random Image">
            </div>
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    {% if form.prompt %}
                        <form id="generateForm" action="{{ url_for('public.generate_image_hard_clock') }}" method="post">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                <label for="prompt">Votre réponse :</label>
                                {{ form.prompt(class="form-control", placeholder="Saisissez votre réponse ici", required=True) }}
                            </div>
                            <button type="submit" class="btn btn-primary" id="submitBtn">Soumettre</button>
                            <h3 class="mt-3">Score actuel: <span id="score">{{ score_clock }}</span></h3>
                        </form>
                    {% endif %}
                    <a href="{{ url_for('public.replay_hard_clock') }}" class="btn btn-secondary mt-3" id="replayBtn">Changer d'image</a>
                    <a href="{{ url_for('public.reset_score_hard_clock') }}" class="btn btn-warning mt-3" id="resetBtn">Réinitialiser Timer</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Timer</h2>
            <p id="timer">60</p>
            <audio id="timerAudio" src="{{ url_for('static', filename='sound_animals10/clock.mp3') }}" preload="auto"></audio>
            <script>
                var seconds = localStorage.getItem('timer') || 60;
                var submitBtn = document.getElementById('submitBtn');
                var replayBtn = document.getElementById('replayBtn');
                var resetBtn = document.getElementById('resetBtn');

                function updateTimer() {
                    var timerElement = document.getElementById('timer');
                    var timerAudio = document.getElementById('timerAudio');

                    if (seconds > 0) {
                        seconds--;
                        timerElement.innerHTML = seconds;
                        localStorage.setItem('timer', seconds);
                    } else {
                        timerElement.innerHTML = "Temps écoulé!";
                        disableButtons();
                        timerAudio.play();
                    }
                }

                function disableButtons() {
                    submitBtn.disabled = true;
                    replayBtn.disabled = true;
                    resetBtn.disabled = false;
                }

                function enableButtons() {
                    submitBtn.disabled = false;
                    replayBtn.disabled = false;
                    resetBtn.disabled = true;
                }

                document.getElementById('replayBtn').addEventListener('click', function() {
                    // Ajoutez du code ici si nécessaire
                });

                document.getElementById('resetBtn').addEventListener('click', function() {
                    enableButtons();
                    seconds = 60;
                    localStorage.setItem('timer', seconds);
                    document.getElementById('timer').innerHTML = seconds;
                });

                setInterval(updateTimer, 1000);
            </script>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8 text-center">
            <form id="uploadForm" action="{{ url_for('public.upload_images_hard_clock') }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="images">Choisissez des images :</label>
                    <input type="file" name="images" class="form-control-file" accept="image/*" multiple required>
                </div>
                <button type="submit" class="btn btn-dark">Télécharger les images</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
