{% extends "layout.html" %}
{% block content %}
<style>
    body {
        background: url('/static/images_home/fond5.jpg');
        background-size: cover; 
    }
</style>
<div class="container mt-5">
    <h2>Liste des Animaux</h2>
    <div class="row">
        <div class="col-md-4">
            <ul>
                {% for key, animal in animals90_dict.items() if key < 30 %}
                    <li>{{ animal }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                {% for key, animal in animals90_dict.items() if 30 <= key < 60 %}
                    <li>{{ animal }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                {% for key, animal in animals90_dict.items() if key >= 60 %}
                    <li>{{ animal }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <a href="{{ url_for('public.generate_image_hard') }}" class="btn btn-success btn-lg">Retour</a>
</div>

{% endblock %}
