<!-- liste_animaux.html -->
{% extends "layout.html" %}
{% block content %}
<style>
    body {
        background: url('/static/images_home/fond_jeu5.jpg');
        background-size: cover; 
    }
</style>
<div class="container mt-5">
    <h2>Liste des Animaux</h2>

    <ul>
        {% for key, animal in animals10_dict.items() %}
            <li> {{ animal }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('public.generate_image') }}" class="btn btn-success btn-lg">Retour</a>
</div>

{% endblock %}
